@tailwind base;
@tailwind components;
@tailwind utilities;


.animate {
opacity: 0;
}
.animate.slide { 
  opacity: 1;
  animation-name: animate-slide;
  animation-duration: 0.8s;
  transition-timing-function: ease-in;
 }

 .animate.slide.no2{
  transition-delay: 0.3s;
  animation-duration: 1.1s;
 }

@keyframes animate-slide {
  0% {
    transform: translate(0, 20px);
  }
  100% {

    transform: translate(0, 0);
  }
}

.messagedisplay {
  display: none;
}

.dots-1 {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side,#000 90%,#0000) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: d1 1s steps(4) infinite;
}
@keyframes d1 {to{clip-path: inset(0 -34% 0 0)}}

#backToTopBtn {
  display: block; /* Display the button */
  position: fixed; /* Fixed position */
  bottom: 20px; /* Place the button 20px from the bottom */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap other elements */
  text-align: center; /* Center the text */
  cursor: pointer; /* Add a mouse pointer on hover  */
  text-decoration: none; /* Remove underline */
}
