@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
html {
    font-family: 'DM Sans', 'Helvetica', 'Arial', sans-serif;
  }
}

.animate {
opacity: 0;
}
.animate.slide { 
  opacity: 1;
  animation-name: animate-slide;
  animation-duration: 0.5s;
  transition-timing-function: ease-in;
 }

@keyframes animate-slide {
  0% {
    transform: translate(0, 20px);
  }
  100% {

    transform: translate(0, 0);
  }
}
